body {
    background-color: bisque;
    margin: 0;
}

.blogWhole {
    /* display: flex; */
}

.showMe {
    margin-right: -20px;
}

.showMe h2{
    text-align: center;
}

.showMe .single{
    margin-left: 50px;
}

.showMe .single h5{
    margin-left: 30px;
}

.showMe .single pre{
    white-space: pre-wrap;
    word-wrap: break-word;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}