body {
    background-color: bisque;
    margin: 0;
}

.blogWhole {
    /* display: flex; */
}

.showMe {
    margin-right: -20px;
}

.showMe h2{
    text-align: center;
}

.showMe .single{
    margin-left: 50px;
}

.showMe .single h5{
    margin-left: 30px;
}

.showMe .single pre{
    white-space: pre-wrap;
    word-wrap: break-word;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}

.showMe .delete{
    position: relative;
    margin-left: 30px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-right: 12px;
}

.showMe .delete::before{
    content: '';
    width: inherit;
    border-top: 1px solid red;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.showMe .delete::after{
    content: '';
    width: inherit;
    border-top: 1px solid red;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.showMe .edit{
    display: inline-block;
    cursor: pointer;
    border-width: 15px 0 15px 15px;
    border-style: solid;
    border-color: transparent transparent mediumslateblue;
    margin-left: 30px;
    margin-right: 5px;
    vertical-align: text-bottom;
}

.updWhole {
    display: flex;
    border: 1px solid black;
    background-color: #ffec8b;
    opacity: 0.7;
    width: 60%;
    height: 60%;
    left: 15%;
    top: 25%;
    flex-direction: column;
    position: fixed;
    align-items: center;
}

.updWhole textarea{
    width: 90%;
    height: 90%;
    min-height: 150px;
    margin-top: 10px;
    justify-content: space-around;
    align-items: center;
    margin-top: 4px;
}

.updWhole input:nth-child(1) {
    align-self: flex-end;
    margin-top: -17px;
    margin-right: 5px;
}

.updWhole input:nth-child(3) {
    width: 130px;
    margin-bottom: 5px;
    margin-top: 5px;
}
